.bigCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.bigCounter div {
    background: #101010;
    color: white;
    font-size: 60px;
    padding: 20px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
}
